.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  border: solid black 3px;
}

.square {
  height: 200px;
  width: 200px;
  border: solid black 1px;
}

.mole {
  background-image: url('mole.jpeg');
  background-size: cover;
}
.center {
  font-family:'Arial Narrow Bold', sans-serif;
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-size: 50px;
}
